.card {
  --width: 296px;
  --padding: 1rem;
  --font-size: 12px;
  max-width: var(--width);
  min-width: 160px;
  padding: var(--padding);
  border-radius: 15px;
  border: 1px solid #D7D7D7;
  font-size: var(--font-size);
  align-self: flex-start;

  .nft__image {
    width: 100%;
  }

  > div {
    display: flex;
    justify-content: space-between;
  }

  .rating {
    width: max-content;
  }
}