@font-face {
    font-family: "Red Rose";
    src: url("./fonts/RedRose-VariableFont_wght.ttf");
}

*, *::after, *::before {
    color: #434343;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    margin: 0;
    font-family: "Red Rose";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
